@charset "UTF-8";


.m_b40 {
	margin-bottom:20px !important;
}

body {
    min-width:10px;
}


html>/**/body {
	font-size: 14px;
}

/********************************
HEADER
*********************************/
header{
	position:fixed;
	top:0;
	left:0;
	z-index:99999999;
	border-top:4px solid #8fd8e5;
	height:111px;
/*	overflow:hidden;*/
	background:#fff;
}

header .tpbx{
	display: none;
}

header .headin {
    width:100%;
    margin: 0;
    padding:0;
}
header .headin.scl {
	background:#fff;
}

header .headin .headct {
    padding:12px 10px 5px 10px;
}

header .headin .logo {
	width:250px;
	margin: 0 10px 0 0;
}
header .headin .logo h1 {
	font-size:8px;
	line-height:1;
	height:1em;
	overflow:hidden;
	margin:0 0 2px 0;
}
header .headin .logo a {
	padding:31px 0 0 0;
	background:url(../../images/header_logo_sp.png) no-repeat 0 0;
	background-size:240px auto;
	-moz-background-size:240px auto;
	-webkit-background-size:240px auto;
}

header .headin .enttel {
	margin:0 5px;
    letter-spacing:-0.4em;
    text-align:center;
}
header .headin .enttel p.ent,
header .headin .enttel p.tel {
    width:47%;
    display:inline-block;
    letter-spacing:normal;
    margin:0 1.5%;
    vertical-align:top;
    font-size:12px;
}
header .headin .ent a {
	display:block;
	text-align:center;
	color:#fff;
	border:1px solid #ed7280;
	background: -ms-linear-gradient(top, #f9a3ad, #f77f8d);
	background: -moz-linear-gradient(top, #f9a3ad, #f77f8d);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9a3ad), to(#f77f8d));
	height:38px;
	line-height:1.2;
	text-decoration:none;
    border-radius: 4px;
}
header .headin .ent a span {
	background:url(../../images/sp_dec_pk.png) no-repeat 0 50%;
	background-size:12px auto;
	-moz-background-size:12px auto;
	-webkit-background-size:12px auto;
	padding:5px 0 5px 18px;
    display:inline-block;
}
header .headin .tel a {
	display:block;
	text-align:center;
	color:#fff;
	border:1px solid #39b9d0;
	background: -webkit-gradient(linear, left top, left bottom, from(#7ad6e6),to(#45c6dc));
	background: -webkit-linear-gradient(#7ad6e6 0%, #45c6dc 100%);
	background: -moz-linear-gradient(#7ad6e6 0%, #45c6dc 100%);
	height:38px;
	line-height:1.2;
	text-decoration:none;
    border-radius: 4px;
}
header .headin .tel a span {
	background:url(../../images/sp_dec_bl.png) no-repeat 0 50%;
	background-size:12px auto;
	-moz-background-size:12px auto;
	-webkit-background-size:12px auto;
	padding:5px 0 5px 18px;
    display:inline-block;
}

header .headin .ent img{
	width:100%;
}

header .headin .menu {
	float:right;
	width:32px;
}

header .headin .menu img{
	width: 100%;
}

nav {
	display: none;
}

.nav {
    display:none;
	background:#ffffff;
	padding:15px 0 0 0;
}

.nav ul li{
	border-top:1px solid #d7d7d7;
	line-height:1;
}

.nav ul li a{
	display: block;
	padding:12px 15px 12px 45px;
	color:#000;
	text-decoration:none;
}

.nav ul li:nth-child(1) a{
	background:url(../../images/icon_menu_area.png) no-repeat 8px 50%;
	background-size:31px auto;
	-moz-background-size:31px auto;
	-webkit-background-size:31px auto;
}
.nav ul li:nth-child(2) a{
	background:url(../../images/icon_menu_route.png) no-repeat 8px 50%;
	background-size:31px auto;
	-moz-background-size:31px auto;
	-webkit-background-size:31px auto;
}
.nav ul li:nth-child(3) a{
	background:url(../../images/icon_menu_conditions.png) no-repeat 8px 50%;
	background-size:31px auto;
	-moz-background-size:31px auto;
	-webkit-background-size:31px auto;
}
.nav ul li:nth-child(4) a{
	background:url(../../images/icon_menu_report.png) no-repeat 8px 50%;
	background-size:31px auto;
	-moz-background-size:31px auto;
	-webkit-background-size:31px auto;
}
.nav ul li:nth-child(5) a{
	background:url(../../images/icon_menu_flow.png) no-repeat 8px 50%;
	background-size:31px auto;
	-moz-background-size:31px auto;
	-webkit-background-size:31px auto;
}
.nav ul li:nth-child(6) a{
	background:url(../../images/icon_menu_place.png) no-repeat 8px 50%;
	background-size:31px auto;
	-moz-background-size:31px auto;
	-webkit-background-size:31px auto;
}
.nav ul li:nth-child(7) a{
	background:url(../../images/icon_menu_faq.png) no-repeat 8px 50%;
	background-size:31px auto;
	-moz-background-size:31px auto;
	-webkit-background-size:31px auto;
}
.nav ul li:nth-child(8) a{
	background:url(../../images/icon_menu_column.png) no-repeat 8px 50%;
	background-size:31px auto;
	-moz-background-size:31px auto;
	-webkit-background-size:31px auto;
}

.nav ul li a span{
	display: block;
	background:url(../../images/sp_dec_ar_bl.png) no-repeat right 50%;
	background-size:6px auto;
	-moz-background-size:6px auto;
	-webkit-background-size:6px auto;
}


/********************************
FOOTER
*********************************/
footer{
	display:none;
}

.sp_footer{
	display:block;
}

.sp_footer .linkbox ul {
	border-top:1px solid #d4d4d4;
}
.sp_footer .linkbox ul li a {
	display:block;
	padding:12px 15px 12px 25px;
	border-bottom:1px solid #d4d4d4;
	text-decoration:none;
	color:#000;
	background:#fcfcfc;
}
.sp_footer .linkbox ul li a span {
	background:url(../../images/sp_dec_ar_bk.png) no-repeat right 50%;
	background-size:6px auto;
	-moz-background-size:6px auto;
	-webkit-background-size:6px auto;
	display:block;
}


.sp_footer .ftadd{
	padding:15px;
	text-align:center;
}

.sp_footer .ftadd .logo{
	margin: 0 0 15px 0;
}

.sp_footer .ftadd address{
	font-size:9px;
	line-height: 1;
	font-style:normal;
}

/********************************
Sidebox
*********************************/

#Sidebox{
	display:none;
}

/********************************
contents
*********************************/

#Clmbox{
	margin: 0;
}

#Clmbox #Mainbox{
	width: auto;
	float:none;
}

#Clmbox.top #Mainbox{
	padding:0 0 0 0;
}

#Mainbox.top {
    margin: 0 0 0 0;
}

#Contents {
  text-align: left;
  padding: 116px 0 0 0 !important;
  background:#fff;
}


/********************************
com
*********************************/

.bx-wrapper img {
	width: 100%;
}

/*com_ttl*/
.com_ttlb {
	padding:12px 10px;
	border:0;
	margin:0;
	background:#ff554c;
}
.com_ttlb h2 {
	font-size:15px;
	line-height:1.2em;
	color:#fff;
}
.com_ttlb span.sb {
	font-size:15px;
	color:#fff;
}
.com_ttlb p.nm {
	display: none;
}

/*com_tlx*/
.com_tlx {
	display: none;
}

/*com_tlxs*/
.com_tlxs {
  border-left:0;
  margin: 0 0 0 0;
  padding:10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  text-align:center;
}

/*com_stx*/
.com_stx {
  margin:10px;
  line-height:1.5;
}

/*com_wid*/
.com_wid {
  margin: 0 auto;
  width: auto;
}

/*com_spbnr*/
.com_spbnr{
	display: block;
	width:300px;
	margin:0 auto;
}

/*com_pcblk*/
.com_pcblk{
	display:block;
}

/*com_pc*/
.com_pc{
	display:none;
}

/*com_sp*/
.com_sp{
	display:block;
}

/*com_pagetop*/
.com_pagetop p{
	position:fixed;
	right:10px;
	bottom:30px;
}

.com_pagetop p.pc{
	display: none;
}

.com_pagetop p.sp{
	display: block;
	width:50px;
}

.com_pagetop p.sp img{
	width:100%;
}

/*com_pnkzbox*/
.com_pnkzbox{
	display:none;
}

/*com_checkbox*/
.com_checkbox input{
	display:none;
}

.com_checkbox .chk{
  padding:0 0 0 25px;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  /*
  margin: 0 20px 8px 0;
  padding: 12px 12px 12px 42px;
  border-radius: 8px;
  background-color: #f6f7f8;
  */
  vertical-align: middle;
  cursor: pointer;
}

.com_checkbox .chk:after {
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border:1px solid #cccccc;
  border-radius: 4px;
  content: '';
  background: #fefefe;
	z-index: 1;
}

.com_checkbox .chk:before {
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  position: absolute;
  top: 50%;
  left: 6px;
  display: block;
  margin-top: -7px;
  width: 4px;
  height: 8px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
}

.com_checkbox input[type=checkbox]:checked + .chk:after {
	background: -ms-linear-gradient(top, #353535, #868686);
	background: -moz-linear-gradient(top, #353535, #868686);
	background: -webkit-gradient(linear, left top, left bottom, from(#353535), to(#868686));
  border:1px solid #353535;
}

.com_checkbox input[type=checkbox]:checked + .chk:before {
	opacity: 1;
}

.com_ttl.non{
	display:none;
}

/*com_spttl*/
.com_spttl{
	display:block;
	background:#18533f;
	padding:13px 10px;
	color:#ffffff;
	line-height:1.2;
	font-size:15px;
}

.com_spttl span{
	padding:0 0 0 10px;
	border-left:5px solid #ffffff;
	font-weight:bold;
}

.com_lyajst {
	padding:5px 15px 0 15px;
}

/*com_wid*/
.com_wid {
  margin: 0 auto;
  width: auto;
}


.com_contbx .lnkbox ul {
	border-top:1px solid #c6c6c6;
	padding:8px 0;
}
.com_contbx .lnkbox ul li{
	padding: 7px 0;
	text-align:center;
}

/***************
条件を変更
****************/

.spone_ttl {
	padding:5px 15px 5px 15px;
}

#TOPBX .contentbox{
	margin:0 0 0 0 !important;
}

.pc_non #TOPBX .contentbox .sp_selctbx{
	display:block;
	border-top:1px solid #d4d4d4;
}

.pc_non #TOPBX .contentbox .sp_selctbx .btnbx{
	padding:10px 0;
}

.pc_non #TOPBX .contentbox .sp_selctbx .btnbx.btnbxPos {
    background:#ccc;
    width:100%;
    position:fixed;
    z-index:9999;
    bottom:0;
}

.pc_non #TOPBX .contentbox .sp_selctbx .btn {
	padding:0 15px 15px 15px;
}
.pc_non #TOPBX .contentbox .sp_selctbx .btn a{
	display: block;
  padding: 14px 0 14px 0;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.04em;
  text-decoration: none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background: -ms-linear-gradient(top, #f9a3ad, #f77f8d);
	background: -moz-linear-gradient(top, #f9a3ad, #f77f8d);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9a3ad), to(#f77f8d));
	border:1px solid #ed7280;
	text-align:center;
}

.pc_non #TOPBX .contentbox .sp_selctbx .btn a > span{
	padding:0 0 1px 22px;
	background:url(../../images/sp_icn_src.png) no-repeat 0 50%;
	background-size:20px auto;
	-moz-background-size:20px auto;
	-webkit-background-size:20px auto;
}


.pc_non #TOPBX .contentbox .sp_selctbx .slct a.link{
	text-decoration:none;
	color:#000;
	display:block;
	padding:0 10px 0 0;
}
.pc_non #TOPBX .contentbox .sp_selctbx .slct a.link .linkin {
	text-decoration:none;
	color:#000;
	display:block;
	background:url(../../images/dec_sp_arw_right.png) no-repeat right 50%;
	background-size:10px auto;
	-moz-background-size:10px auto;
	-webkit-background-size:10px auto;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct{
	border-bottom:1px solid #d4d4d4;
	letter-spacing:-.40em;
	width: 100%;
	display: table;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct.bt{
	border-bottom:0;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2{
	border-bottom:1px solid #cbcbcb;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct .tl{
	letter-spacing:normal;
	vertical-align:top;
	text-align:left;
	padding:15px 15px 0 15px;
	font-size: 15px;
	color:#1fbad9;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct .sltbox{
	letter-spacing:normal;
	vertical-align:top;
	text-align:left;
	padding:10px 15px 15px 15px;
}
.pc_non #TOPBX .contentbox .sp_selctbx .slct.bt .sltbox{
	padding-bottom:10px;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct .sltbox ul li{
	margin:0 0 10px 0;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct .sltbox ul li:last-child{
	margin:0 0 0 0;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct .sltbox ul li select{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 49px;
	border: 1px solid #cbcbcb;
	width: 100%;
	font-size: 14px;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct .sltbox input[type="text"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	height:45px;
	border:1px solid #cbcbcb;
	width:100%;
	font-size:20px;
	text-indent:1em;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .tla a{
	display:block;
	padding:19px 15px;
	color:#1fbad9;
	text-decoration:none;
	font-size: 15px;
	line-height:1.2;
	text-decoration: none;
	background:#f1fbfd;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .tla a span{
	display:block;
	background:url(../../images/sp_dec_ar_bl_dwn.png) no-repeat right 50%;
	background-size:10px auto;
	-moz-background-size:10px auto;
	-webkit-background-size:10px auto;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .tla a.on span{
	background:url(../../images/sp_dec_ar_bl_up.png) no-repeat right 50%;
	background-size:10px auto;
	-moz-background-size:10px auto;
	-webkit-background-size:10px auto;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .listbx{
	display:none;
	border-top: 1px solid #c2d3ca;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .listbx li input{
	display:none;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .listbx li .chk{
	padding: 10px 0 10px 40px;
	box-sizing: border-box;
	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
	position: relative;
	display: block;
	vertical-align: middle;
	cursor: pointer;
	border-bottom: 1px solid #c2d3ca;
	background:#ffffff;
	font-size:13px;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .listbx li:last-child .chk{
	border-bottom: 0;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .listbx li .chk:after {
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border:1px solid #cccccc;
  border-radius: 4px;
  content: '';
  background: #fefefe;
	z-index: 1;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .listbx li .chk:before {
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  position: absolute;
  top: 50%;
  left: 16px;
  display: block;
  margin-top: -7px;
  width: 4px;
  height: 8px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .listbx li input[type=checkbox]:checked + .chk:after {
	background: -ms-linear-gradient(top, #353535, #868686);
	background: -moz-linear-gradient(top, #353535, #868686);
	background: -webkit-gradient(linear, left top, left bottom, from(#353535), to(#868686));
  border:1px solid #353535;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct2 .listbx li input[type=checkbox]:checked + .chk:before {
	opacity: 1;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct .sltbox .fltbx li {
	float:left;
	font-size:13px;
	font-weight:bold;
	margin:0 40px 0 0;
}

.pc_non #TOPBX .contentbox .sp_selctbx .slct .sltbox .fltbx li;last-child{
	margin:0 0 0 0;
}

.pc_non #TOPBX .contentbox .ttlbox.pk .btn {
	display: none;
}

#TOPBX .contentbox .sp_ttlbox{
	display:block;
	padding: 0 15px 5px 15px;
}

#TOPBX .contentbox .ttlbox {
	padding:0 15px 5px 15px;
}

#TOPBX .contentbox .ttlbox h2 {
    margin: 0 0 0 0;
}

#TOPBX .contentbox .sp_srcbox{
	display:block;
	padding:0 15px 15px 15px;
}

#TOPBX .contentbox .sp_srcbox .srcin{
	display:table;
	letter-spacing:-.40em;
	width: 100%;
}

#TOPBX .contentbox .sp_srcbox .slctbx{
	display:table-cell;
	vertical-align:top;
	text-align: left;
	padding:0 15px 0 0;
	letter-spacing:normal;
}

#TOPBX .contentbox .sp_srcbox .slctbx select{
	height:33px;
	border:1px solid #8e8e8e;
	width:100%;
	font-size:14px;
	background:#ffffff;
}

#TOPBX .contentbox .sp_srcbox .btn{
	display:table-cell;
	vertical-align:top;
	text-align: left;
	line-height:1;
	width:85px;
	letter-spacing:normal;
}

#TOPBX .contentbox .sp_srcbox .btn a{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:block;
	padding:9px 0 9px 34px;
	background:#20b9da url(../../images/icon_search_off.png) no-repeat 17px 50%;
	background-size:15px auto;
	-moz-background-size:15px auto;
	-webkit-background-size:15px auto;
	color:#ffffff;
	font-weight: bold;
	font-size:14px;
	text-decoration: none;
}

#TOPBX .contentbox .sp_srcbox .onl .btn {
	text-align: center;
}
#TOPBX .contentbox .sp_srcbox .onl .btn a{
	background:#20b9da;
	padding:14px 0;
}

#TOPBX .contentbox .sp_srcbox .onl .btn a span{
	padding:0 0 1px 20px;
	background:url(../../images/icon_search_off.png) no-repeat 0 50%;
	background-size:15px auto;
	-moz-background-size:15px auto;
	-webkit-background-size:15px auto;
}

#TOPBX .contentbox .sp_srcbox .dlsrc .tl{
	margin:0 0 10px 0;
	border-left:5px solid #1b8348;
	padding:2px 0 2px 5px;
	font-size:13px;
	font-weight:bold;
}

#TOPBX .contentbox .sp_srcbox .dlsrc .dlbx{
	display:table;
	width:100%;
}

#TOPBX .contentbox .sp_srcbox .dlsrc .dlbx .inp{
	display:table-cell;
	vertical-align:top;
	text-align:left;
}

#TOPBX .contentbox .sp_srcbox .dlsrc .dlbx .inp input{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	height:38px;
	border:1px solid #cbcbcb;
	width:100%;
	font-size:20px;
}

#TOPBX .contentbox .sp_srcbox .dlsrc .dlbx .sbtn{
	width:46px;
	display:table-cell;
	vertical-align:top;
	text-align:left;
	padding: 0 0 0 10px;
}

#TOPBX .contentbox .sp_srcbox .dlsrc .dlbx .sbtn img{
	width:100%;
}


#SRCBX .searchbox .srclistbox .ttlbox {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
}
#SRCBX .searchbox .srclistbox .ttlbox.area{
	background:url(../../images/icon_area_sp.png) no-repeat 0 50%;
	background-size:21px auto;
	-moz-background-size:21px auto;
	-webkit-background-size:21px auto;
	margin:0 0 10px 15px;
	padding:3px 0 2px 27px;
}
#SRCBX .searchbox .srclistbox .ttlbox.stn{
	background:url(../../images/sp_icn_station_pk.png) no-repeat 4px 5px;
	background-size:17px auto;
	-moz-background-size:17px auto;
	-webkit-background-size:17px auto;
	margin:0 0 0 15px;
	padding:0 15px 0 32px;
}
#SRCBX .searchbox .srclistbox .ttlbox h2{
	font-size:14px;
	line-height:1;
	font-weight:bold;
	color:#f77d8b;
	padding:8px 0;
}
#SRCBX .searchbox .srclistbox .ttlbox h2 span{
	font-size:20px;
	margin:0 2px 0 0;
}


#SRCBX .searchbox .srclistbox .areabox .areain .areact {
  padding: 0 0 0 0;
}

#SRCBX .searchbox .srclistbox .areabox .areain .areact ul.lnk {
	border-top: 1px solid #c2d3ca;
}

#SRCBX .searchbox .srclistbox .areabox .areain .areact ul.lnk li label.chk {
	padding:0 10px 0 0;
	display:block;
}
#SRCBX .searchbox .srclistbox .areabox .areain .areact ul.lnk li label a {
	display:block;
	background:url(../../images/sp_dec_ar_bl.png) no-repeat right 50%;
	background-size:6px auto;
	-moz-background-size:6px auto;
	-webkit-background-size:6px auto;
	color:#000;
	font-weight:normal;
}

#SRCBX .searchbox .srclistbox .areabox .areain .areact ul li {
  float: none;
  width: auto;
  margin: 0 0 0 0;
}

#SRCBX .searchbox .srclistbox .areabox.line .areain .areact ul li {
  width:auto;
}

#SRCBX .searchbox .srclistbox .areabox .areain .areact ul li input{
	display:none;
}

#SRCBX .searchbox .srclistbox .areabox .areain .areact ul li .chk{
	padding: 10px 0 10px 50px;
	box-sizing: border-box;
	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
	position: relative;
	display: block;
	vertical-align: middle;
	cursor: pointer;
	border-bottom: 1px solid #c2d3ca;
	font-weight:bolder;
}

#SRCBX .searchbox .srclistbox .areabox .areain .areact ul li:last-child  .chk{
	border-bottom: 0;
}

#SRCBX .searchbox .srclistbox .areabox .areain .areact ul li .chk:after {
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border:1px solid #cccccc;
  border-radius: 4px;
  content: '';
  background: #fefefe;
	z-index: 1;
}

#SRCBX .searchbox .srclistbox .areabox .areain .areact ul li.ckno .chk {
	padding: 0;
}
#SRCBX .searchbox .srclistbox .areabox .areain .areact ul li.ckno .chk:after {
  display: none;
}

#SRCBX .searchbox .srclistbox .areabox .areain .areact ul li.ckno .chk a {
  display: block;
	padding: 10px 10px 10px 15px;
}

#SRCBX .searchbox .srclistbox .areabox .areain .areact ul li .chk:before {
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  position: absolute;
  top: 50%;
  left: 26px;
  display: block;
  margin-top: -7px;
  width: 4px;
  height: 8px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
}

#SRCBX .srclistbox .sp_srcbox{
	display:block;
	padding:0 15px 15px 15px;
}
#SRCBX .srclistbox .sp_srcbox.area {
	padding:0;
}

#SRCBX .srclistbox .sp_srcbox .srcin{
	display:table;
	letter-spacing:-.40em;
	width: 100%;
}

#SRCBX .srclistbox .sp_srcbox .slctbx{
	display:table-cell;
	vertical-align:top;
	text-align: left;
	padding:0 15px 0 0;
	letter-spacing:normal;
}

#SRCBX .srclistbox .sp_srcbox .slctbx select{
	height:36px;
	border:1px solid #8e8e8e;
	width:100%;
	font-size:14px;
	background:#ffffff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #fbf9f9;
}

#SRCBX .srclistbox .sp_srcbox.area dl dt a {
	display:block;
	padding:12px 15px;
	border-top:1px solid #d4d4d4;
	font-size:15px;
	text-decoration:none;
	background:#f1fbfd;
}
#SRCBX .srclistbox .sp_srcbox.area dl dt a span {
	background:url(../../images/sp_dec_ar_bl_dwn.png) no-repeat right 50%;
	background-size:10px auto;
	-moz-background-size:10px auto;
	-webkit-background-size:10px auto;
	display:block;
}
#SRCBX .srclistbox .sp_srcbox.area dl dt a.on span {
	background:url(../../images/sp_dec_ar_bl_up.png) no-repeat right 50%;
	background-size:10px auto;
	-moz-background-size:10px auto;
	-webkit-background-size:10px auto;
}
#SRCBX .srclistbox .sp_srcbox.area dl dd {
	display:none;
}
#SRCBX .srclistbox .sp_srcbox.area dl dd a {
	display:block;
	padding:10px 15px 10px 25px;
	border-top:1px solid #d4d4d4;
	text-decoration:none;
	color:#000;
}
#SRCBX .srclistbox .sp_srcbox.area dl dd a span {
	background:url(../../images/sp_dec_ar_bl.png) no-repeat right 50%;
	background-size:6px auto;
	-moz-background-size:6px auto;
	-webkit-background-size:6px auto;
	display:block;
}

#SRCBX .srclistbox .sp_srcbox .btn{
	display:table-cell;
	vertical-align:top;
	text-align: left;
	line-height:1;
	width:85px;
	letter-spacing:normal;
}

#SRCBX .srclistbox .sp_srcbox .btn a{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:block;
	background: -ms-linear-gradient(top, #f9a3ad, #f77f8d);
	background: -moz-linear-gradient(top, #f9a3ad, #f77f8d);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9a3ad), to(#f77f8d));
	color:#ffffff;
	font-weight: bold;
	font-size:16px;
	text-decoration: none;
	border:1px solid #ed7280;
}
#SRCBX .srclistbox .sp_srcbox .btn a span{
	background: url(../../images/icon_search_off.png) no-repeat 15px 50%;
	background-size:15px auto;
	-moz-background-size:15px auto;
	-webkit-background-size:15px auto;
	display:block;
	padding:10px 0 8px 34px;
}

#SRCBX .srclistbox .sp_srcbox .onl .btn {
	text-align: center;
}
#SRCBX .srclistbox .sp_srcbox .onl .btn a{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:block;
	background: -ms-linear-gradient(top, #f9a3ad, #f77f8d);
	background: -moz-linear-gradient(top, #f9a3ad, #f77f8d);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9a3ad), to(#f77f8d));
	color:#ffffff;
	font-weight: bold;
	font-size:16px;
	text-decoration: none;
	border:1px solid #ed7280;
	padding:10px 0 9px 0;
}

#SRCBX .srclistbox .sp_srcbox .onl .btn a span{
	background: url(../../images/icon_search_off.png) no-repeat 0 45%;
	background-size:15px auto;
	-moz-background-size:15px auto;
	-webkit-background-size:15px auto;
	padding:0 0 0 20px;
	display:inline;
}


#SRCBX .srclistbox .sp_srcbox .dlsrc .tl{
	margin:0 0 10px 0;
	border-left:5px solid #1b8348;
	padding:2px 0 2px 5px;
	font-size:13px;
	font-weight:bold;
}

#SRCBX .srclistbox .sp_srcbox .dlsrc .dlbx{
	display:table;
	width:100%;
}

#SRCBX .srclistbox .sp_srcbox .dlsrc .dlbx .inp{
	display:table-cell;
	vertical-align:top;
	text-align:left;
}

#SRCBX .srclistbox .sp_srcbox .dlsrc .dlbx .inp input{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	height:38px;
	border:1px solid #cbcbcb;
	width:100%;
	font-size:20px;
}

#SRCBX .srclistbox .sp_srcbox .dlsrc .dlbx .sbtn{
	width:46px;
	display:table-cell;
	vertical-align:top;
	text-align:left;
	padding: 0 0 0 10px;
}

#SRCBX .srclistbox .sp_srcbox .dlsrc .dlbx .sbtn img{
	width:100%;
}

