<?php
/*
<div class="areabx">
    <h2><img src="/callcenter/images/side_area_ttl.png" alt="地域コンテンツ"></h2>
    <ul>
        <li><a href="#">東京都特集</a></li>
        <li><a href="#">大阪府特集</a></li>
        <li><a href="#">○○県特集</a></li>
    </ul>
</div>

<div class="bnrbx">
    <p><a href="#"><img src="/callcenter/images/side_bnr_fea1.png" alt="お仕事特集"></a></p>
    <p><a href="#"><img src="/callcenter/images/side_bnr_fea1.png" alt="お仕事特集"></a></p>
    <p><a href="#"><img src="/callcenter/images/side_bnr_fea1.png" alt="お仕事特集"></a></p>
</div>

*/
?>

<div class="bnrbx hvr">
    <p><a href="https://www.saintmedia.co.jp/contents/cc_agency/" target="_blank"><img src="images/bnr_cc_agency.png" alt="正社員を目指すならこちら"></a></p>
</div>